@import url('https://fonts.googleapis.com/css?family=Anton|Pacifico|Bangers|Rancho');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph|3d-float');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=ice|3d-float');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Permanent+Marker|Luckiest+Guy');
html {
  background-color: #000000;
}
.font-effect-anaglyph{
      font-family: 'Bangers', cursive;
      font-size: 200px;
      margin: 0px 0px 0px 150px;
}
.font-effect-ice{
      font-family: 'Permanent Marker', cursive;
      font-size: 80px;
      margin: 0px ;
}
.ins{
  background-color: #FCA816;
  cursor: pointer;
  padding: 12px;
  width: 50%;
  margin: 0px 0px 0px 350px;
  border: none;
  border-radius:30px;
  text-align: middle;
  font-family: 'Luckiest Guy', cursive;
  outline: none;
  font-size: 35px;
}
.Pop{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.page{
  background-color:#26E83F;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
  margin: 10% auto;
  width:100%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:resopen;
  animation-duration:1s;
}
.page .img{
  width : 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: middle;
}